{% extends 'base.html' %}


{% block corpo %}



<nav >
  <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/listarmodalidade">Molidade</a></li>
            <li><a>Aluno</a>
                <ul>
                      <li><a href="/adicionaraluno">+ Aluno</a></li>
                      <li><a href="/listaraluno">Listar Alunos</a></li>
                      <!--<li><a href="">Excluir</a></li>-->
                </ul>
            </li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Contato</a></li>               
</ul>
</nav>
{% endblock %}

<!--Read more: http://www.linhadecodigo.com.br/artigo/3474/menu-em-css-menu-dropdown-horizontal-com-html5-e-css3.aspx#ixzz3as9iXWMI -->
